body {
    background: url(images/1044965464_0_158_3081_1891_1920x0_80_0_0_34151565f3841b8478c713236064024b.jpg)
}
div p a {color: black;text-decoration: none; font-size: 150%;font-weight: bolder; background-color: aliceblue;}
h1 {color: black; background-color: azure;}
body{padding-top: 100px ;padding-left: 100px; padding-right: 100px;}
p img {height: 700px; width: 1000px;}
div b{font-size: 1.6rem; background-color: antiquewhite;}
div s {color: black;text-decoration: none; font-size: 150%;font-weight: bolder; background-color: aliceblue;}