body{background: url(images/1621911085_21-phonoteka_org-p-voennaya-karta-fon-21.jpg);}
h1 {background-color: aliceblue; border-radius:  6px;}
p{font-size: 150%;font-weight: bolder;background-color: antiquewhite;padding-left: 150px;padding-right: 150px; border-radius:  20px;}

img{height: 550px;width: 750px; margin-right: 40px; border-radius:  20px;box-shadow: 15px 15px 7px 4px rgba(0, 0, 0, 0.2)}

