ul a {text-decoration: none;color: black;font-size: 145%; font-weight: bold; box-shadow: 15px 15px 7px 4px rgba(0, 0, 0, 0.2)}
body{background: url(images/look.com.ua-2926.jpg);}
h1 { border-radius:  6px; padding-left: 25px;}